nav {
  font-family: "Bungee", cursive;
  color: #ffffff;
  height: 120px;
  position: fixed;
  background-color: #4056a1;
  width: 100%;
  z-index: 1;
  padding: 1.5em;
}

.logo {
  position: absolute;
  font-weight: 700;
  font-family: "Bungee", cursive;
  font-size: 40px;
}
.logo-line {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 24px;
  font-family: "Source sans pro", sans-serif;
}
#compose {

  color: red;
  margin-top: 25px;
  position: absolute;
  top: 3.5rem;
  right: 8rem;
  width: 20px;
}
@media only screen and (max-width: 1024px) {
  nav {
    background-color: rgb(243, 133, 8);
  }
}